.table {
  background-color: rgb(216, 216, 216);
}

.header-component {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-initial-div {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
